.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules

# After bundle install
cache/
gems/
specifications/

# After theme installation
sass/
source/

# Ignore new themes (add your theme repo name here)
.themes/my_blog_theme/
.preview-mode
